<header>
    <div class="hamburger" onclick="hamburgerMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="logo" onclick=window.location.href="/">MeTube</div>
</header>