<header>
    <div class="hamburger" onclick="menu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="logo" onclick=window.location.href="index">{{logoText}}</div>
</header>