<div class="container">
  <aside class="sidebar">
    <ul>
      {{#if isLoggedIn}}
      {{/if}}
        {{#each navLinks}}
            <li><a href="{{this.link}}">{{this.text}}</a></li>
        {{/each}}    
        </ul>
  </aside>
</div>
