<nav>
<div class="container">
  <aside class="sidebar">
    <ul>
        {{#each navLinks}}
            <li><a href="{{this.link}}">{{this.text}}</a></li>
        {{/each}}
    </ul>
  </aside>
</div>
</nav>
