<aside class="search-bar">
    <div class="otherAlign" style="display: inline-block">
        <form class="searchForm" action="/posts/search" method="GET" enctype="application/x-www-form-urlencoded">
            <input class="searchbar-text" type="text" name="title" placeholder="Search...">
            <button type="submit" id="search" class="searchGo" value="Go">Search</button>
        </form>
    </div>
</aside>