<main>
  <h2>{{title}}</h2>
  <p>Author: {{author}}</p>
  <p>Created: {{date}}</p>
  <div class="post-container" id="post-container">
    <video src="/public/videos/Get_Trolled.mp4" controls autoplay loop></video>
  </div>
  <h3>Comments</h3>
  <form>
    <div class="input-group">
      <label for="credential">Username:</label>
      <input class="input-text" type="text" id="credential" name="credential" placeholder="Username" required >
		</div>
    <div>
      <label for="comment">Comment: </label>
      <textarea class="input-textarea" name="comment" placeholder="Add a comment..." required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
<button class="jump-to-top-button" onclick="jumpToTop()">
<span class="fa fa-angle-up"></span>
</button>
</main>
