main {
  padding-left: 20px;
}

.username {
  text-decoration: none;
  color: black;
}

.index-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.video-wrapper {
  position: relative;
  width: 70%;
  height: 70%; 
  display: grid;
  grid-template-areas: "media";
}

video {
  grid-area: media;
  width: 85%;
  height: 85%; 
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail-overlay {
  grid-area: media;
  width: 85%; 
  height: 85%; 
  z-index: 2;
}

.post-container:hover video {
  opacity: 1;
  z-index: 3;
} 
.post-info {
  font-size: 20px;
  border: 1px white;
  padding: 10px; /* add some padding to create space */
}



/*
.index-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-container {
  position: relative;
}

.video-wrapper {
  position: relative;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-areas: "media";
}

video {
  grid-area: media;
  width: 80%;
  height: 80%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail-overlay {
  grid-area: media;
  width: 80%;
  height: 80%;
  z-index: 2;
}

.post-container:hover video {
  opacity: 1;
  z-index: 3;
}

.post-info {
  font-size: 20px;
  border: 1px white;
  /*padding-left: 50px;//
}
*/