main {
    padding-left: 20px;
}

.username {
    text-decoration: none;
    color: black;
    
}
.index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  .post-container {
    position: relative;
  }
  
  .video-wrapper {
    position: relative;
    width: 65%;
    height: 0;
  }
  
  video {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 65%;
    height: 65%;
    object-fit: cover;
  }
  
  .thumbnail-overlay {
    display: block;
    position: relative;
    width: 65%;
    height: 65%;
    z-index: 2;
  }
  
  .post-info {
    font-size: 12px;
    border: 1px white;
    /*padding-left: 50px;*/
  }
